.show-grid [class^='col-'] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

.glyphicon {
	text-align: center;
	font-size: 120px;
	color: darkred;
	padding-top: 50px;
}


/*----- Navbar -----*/

#header nav{
	background: #ffffff;
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.33);
}

/*----- Content ------*/

#calltoaction .jumbotron {
	padding: 150px 0;
	text-align: center;
	background: #2a4a50 url('../image/bg.jpg') center no-repeat;
	background-size: cover;
}

#calltoaction .jumbotron h1 p{
	color: white;
	text-shadow: 0px 3px 0px 0px rgba(0,0,0,0.33);
}
