.show-grid [class^='col-'] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

.glyphicon {
	text-align: center;
	font-size: 50px;
	color: darkred;
	padding-top: 20px;
}
